.markdown-body:not(pre) {
    color: white;
    margin-left: 2em;
}

.markdown-body {
    color: white;
    font-size: 1.30rem;
}

.markdown-body ul {
    font-size: 1.30rem;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
    margin-bottom: 0;
}

.markdown-body h1 + ol,
.markdown-body h2 + ol,
.markdown-body h3 + ol,
.markdown-body h1 + ul,
.markdown-body h2 + ul,
.markdown-body h3 + ul {
    margin-top: 0;
}

.markdown-body h1 {
    font-size: 1.5rem;
}

.markdown-body h2 {
    font-size: 1.40rem;
}

.markdown-body h3 {
    font-size: 1.35em;
}

.markdown-body a {
    color: #00bfff;
    text-decoration: none;
}

.markdown-body a:hover {
    color: #00bfff;
    text-decoration: underline;
}

.markdown-body img {
    max-width: 50rem;
}

.markdown-body table {
    border-collapse: collapse;
}

.markdown-body td,
.markdown-body th {
    border: 1px solid gray;
    padding: 0.3em 0.5em;
}

@media only screen and (max-width: 600px) {
    .markdown-body img {
        max-width: 100%;
    }
}
