.upload {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.answer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}