.upload {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;

}

.answer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

img {
    max-width: 95%;
    min-width: 15%;
    max-height: 100%;
    min-height: 4em;

    width: auto;
    height: auto;
}

@media only screen and (max-width: 600px) {
    img {
        max-width: 95%;
        max-height: 100%;
        min-width: 0%;
        min-height: 0%;


        width: auto;
        height: auto;
    }
}

.selected {
    border: 5px solid rgb(45, 76, 255);
    transition: border-width 0.1s linear;
}

.correct {
    border: 5px solid rgb(0, 255, 0);
    transition: border-width 0.1s linear;
}

.wrong {
    border: 5px solid rgb(255, 0, 0);
    transition: border-width 0.1s linear;
}

.notselected {
    border: 5px solid rgb(253, 249, 0);
    transition: border-width 0.1s linear;
}

#endScreen{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}